*{

  font-family: 微軟正黑體;
  position: relative;
}
body{
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #E5DADA;
  border-top: solid 22px #f24;
  border-bottom: solid 22px #f24;
  box-sizing: border-box;
  overflow: hidden;
}

html{
  height:100%;
}
.name{
  width: 350px;
  height: 250px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  border-radius: 6px;
  letter-spacing: 1px;
  line-height: 25px;
  background-color:#eee;
  overflow: hidden;
  color:rgba(0,0,0,0.5);
  box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
  transition: 1s;
}
.name h2{
  font-size: 25px;
}
.name h2 span{
  font-size: 12px;
}
p{
  width: 400px;
  font-size: 2px;
}
h5{
  color:#f24
}
.circle{
  position:absolute;

  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.circle1{
  right: 100px;
  background: #f24;

}
.circle2{
  border: solid 3px #f24;
  width: 60px;
  height: 60px;
  right: -30px;
  top: -30px;

}
.title{
  margin:100px;
  text-align: center;
  color:rgba(0,0,0,0.5)

}
.mark{
  position:absolute;
  top:90px;
  font-size:300px;
  color: rgba(0,0,0,0.05);
}
.name:hover{
  width: 385px;
  height: 275px;
}
